.about-us {
    background-color: #ff9900; /* Light gray background */
    color: #000; /* Dark text for better readability */
    padding: 15px 0px;
}

.about-us h2 a{
    color:#fff;
}

.about-us .btn{
    background-color: #fff;
    color:#000;
    font-size:28px;
    padding:5px 8px 5px 8px;
    margin:5px 5px 5px 8px;
}
.about-us .btn:hover{
    background-color: #242424;
    color:white
}

.about-us-form {
    max-width: 500px; /* Set a max-width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

iframe{
    min-width: 500px;
    min-height:500px;
}

@media (max-width: 768px) {
    iframe {
        width: 10px !important;
    }
}

.list-unstyled a{
    text-decoration: none;
}