.bg-orange {
    background-color: #ff9900; /* Orange background */
}

.text-white {
    color: #fff; /* White text for better readability */
}

.about-us .btn {
    background-color: #fff;
    color: #000;
    font-size: 28px;
    padding: 5px 8px;
    margin: 5px;
}

.about-us .btn:hover {
    background-color: #242424;
    color: #fff;
}

.about-us iframe.contact-us-form {
    height: 500px;
    border: none; /* Removes the border around the iframe */
}

@media (max-width: 768px) {
    .about-us iframe.contact-us-form {
        height: 300px; /* Smaller height for mobile devices */
    }
}
