.welcome {
    position: relative;
    color: #000;
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    min-height: 100vh; /* Makes section take at least the full viewport height */
    padding: 50px 0; /* Adds more padding for a bigger look */
}

/* Adding styles for the video */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover; /* Ensures the video covers the area without stretching */
    background: rgba(255, 255, 255, 0.1); /* White overlay with 10% opacity */
    opacity: 0.95;
}

.welcome h1 {
    color: #fff; /* Adjusted for visibility against potential dark video background */
    font-size: 48px;
}

.welcome h2 {
    color: #fff; /* Keeps white color for headings for better visibility */
}

.welcome a {
    background-color: #ff9900;
    color: #222222;
}

.welcome a:hover {
    background-color: #ffba52;
    color: #222222;
}

.welcome h4 {
    margin-top: 72px;
    color: #fff; /* Changed to white for visibility */
}

.welcome p {
    font-size: 1.1em; /* Slightly larger paragraph text for readability */
    color: #fff; /* Ensure paragraph text is visible on video */
}

@media (max-width: 768px) {
    .welcome h1 {
        font-size: 24px; /* Smaller font size for mobile */
    }

    .welcome h2, .welcome h4 {
        font-size: 18px; /* Smaller font size for mobile headings */
    }

    .welcome p {
        font-size: 1em; /* Adjust paragraph size for mobile */
    }

    #myVideo {
        width: 100%;
        height: auto;
        min-height: 100%;
    }
}
